<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab *ngFor="let groupData of flateExceptions let tabIndex = index;" [label]="groupData.group">
    <h3>{{ groupData.group }} Exception</h3>
    <form [formGroup]="form" class="exception">
      <ng-container formArrayName="exceptions">
         <!-- If more than one exception, use stepper -->
         <mat-horizontal-stepper *ngIf="groupData.exceptions.length > 1" #stepper [(selectedIndex)]="currentStep">
          <mat-step *ngFor="let step of groupData.exceptions; let i = index; let globalIndex = count;" 
          [completed]="isRadioSelected(i+tabIndex)">
          
          <ng-template matStepLabel>
            <mat-icon *ngIf="!isRadioSelected(i+tabIndex)">radio_button_unchecked</mat-icon>
            <mat-icon *ngIf="isRadioSelected(i+tabIndex)">check_circle</mat-icon>
          </ng-template>
          
          
          <ng-container [formGroupName]="i+tabIndex">
              <mat-radio-group [formControlName]="getDynamicKey(i+tabIndex)" (change)="onRadioChange()">
                {{i+tabIndex}}
                <mat-radio-button value="predicted_value">Predicted: {{ step.predicted_value?.value }}</mat-radio-button>
                <mat-radio-button *ngIf="step.tos_value" value="tos_value">TOS: {{ step.tos_value?.value }}</mat-radio-button>
              </mat-radio-group>
            </ng-container>
     
      </mat-step>
    </mat-horizontal-stepper>
    <!-- If only one exception, display radio buttons directly -->
          <div *ngIf="groupData.exceptions.length === 1">
              <ng-container [formGroupName]="tabIndex">
                <mat-radio-group [formControlName]="getDynamicKey(tabIndex)" (change)="onRadioChange()">
                  <mat-radio-button value="predicted_value">
                    Predicted: {{ groupData.exceptions[0].predicted_value?.value }}
                  </mat-radio-button>
                  <mat-radio-button *ngIf="groupData.exceptions[0].tos_value" value="tos_value">
                    TOS: {{ groupData.exceptions[0].tos_value?.value }}
                  </mat-radio-button>
                </mat-radio-group>
              </ng-container>
              </div>
       </ng-container>
  </form>
  </mat-tab>
</mat-tab-group>

<!-- Navigation Buttons -->
<div class="action-buttons">
  <button mat-button (click)="prevStep()" [disabled]="isFirstStep()">Back</button>
  <button mat-button (click)="nextStep()" [disabled]="!isRadioSelected(currentStep) || isLastStep()">Next</button>
  <button mat-button (click)="submitData()" [disabled]="!isSubmitEnabled()">Submit</button>
</div>
